<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="{{ url_for('core.index') }}">BagStore</a>
    <div class="navbar-nav me-auto">
      <a class="nav-link" href="{{ url_for('core.index') }}">Home</a>
      {% if current_user.is_authenticated %}
        <a class="nav-link" href="{{ url_for('bags.index') }}">Bags</a>
      {% endif %}
    </div>
    <div class="navbar-nav ms-auto">
      {% if current_user.is_authenticated %}
        <div class="nav-item dropdown">
          <a class="nav-link dropdown-toggle d-flex align-items-center gap-2" 
             href="#" role="button" data-bs-toggle="dropdown">
            <img src="{{ url_for('static', filename='img/avatar.png') }}" 
                 width="28" height="28" class="rounded-circle">
            Welcome, {{ current_user.username }}
          </a>
          <ul class="dropdown-menu dropdown-menu-end">
            <li>
              <a class="dropdown-item" href="{{ url_for('users.profile') }}">Profile</a>
            </li>
            <li>
              <a class="dropdown-item" href="{{ url_for('users.change_password') }}">Change Password</a>
            </li>
            <li><hr class="dropdown-divider"></li>
            <li>
              <a class="dropdown-item" href="{{ url_for('users.logout') }}">Logout</a>
            </li>
          </ul>
        </div>
      {% else %}
        <a class="nav-link" href="{{ url_for('users.login') }}">Login</a>
        <a class="nav-link" href="{{ url_for('users.register') }}">Register</a>
      {% endif %}
    </div>
  </div>
</nav>